<!DOCTYPE html>
<html ng-app='test'>

  <head>
    <script data-require="angular.js@1.0.7" data-semver="1.0.7" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
      <link href="Scripts/bootstrap.css" rel="stylesheet" />
      <link href="Scripts/bootstrap-theme.css" rel="stylesheet" />
      <link href="Styles/style.css" rel="stylesheet" />
      <script src="Scripts/script.js"></script>
  </head>

  <body key-trap>
    <div ng-controller="testCtrl">
      
        <!--<div ng-repeat="record in records" style="background-color:{{record.color}}" class="record col-md-3 col-xs-3 img-thumbnail" ng-class="{'record-highlight': record.navIndex == focusIndex}">-->
        <!--<div ng-repeat="record in records" ng-style="currentStyle" 
             class="record col-md-3 col-xs-3 img-thumbnail" 
             ng-class="{'record-highlight': record.navIndex == focusIndex}">
          {{ record.name }}
        </div>-->

        <div ng-hide="showGreetings" ng-repeat="record in records" style="background-color:{{record.defaultColour}}"
             class="record col-md-3 col-xs-3 img-thumbnail"
             ng-class="{'record-highlight': record.navIndex == focusIndex}">
            {{ record.name }}
        </div>
        <div ng-show="showGreetings">
            <h1>Congratulations, {{attemptCount}} attempts.</h1>
        </div>
      
    </div>
  </body>

</html>
