
body{
    background-color:black;
    color:white;
}
img.record {
    height: 200px;
    background-color: lightgray;
    border-color: black;
}
img.record-highlight {
    height: 200px;
    border:double;
    border-color:#000000;
    opacity:0.2;

}
